body {
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#E0EAFC, #CFDEF3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E0EAFC, #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    width: 100%;
}


.imageBackground {

    background-image: url("/img/pexels-gdtography-911738.jpg");

}

.custom-shape-divider-top-1639357386 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1639357386 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1639357386 .shape-fill {
    fill: #FFFFFF;
}